@font-face {
font-family: Caveat;
src: url('../fonts/caveat.ttf') format('truetype');
}

@font-face {
font-family: Chonburi;
src: url('../fonts/chonburi.ttf') format('truetype');
}

@font-face {
font-family: Itim;
src: url('../fonts/itim.ttf') format('truetype');
}

body {
font-family: Itim;
}

