section {
padding: 20px;  
margin: 20px;  
}

.title{
background-color : #A6BE9E;
font-weight:bold;
}

.article{
background-color: #357074;
color:#FFF3BC;
font-size:x-small;
}

.brand{
background-color:#082833;
color:#C24726;
font-weight:bold;
font-size:x-large;
}

p {
font-style: italic;
}

article p {
font-size: x-small;
}
article > p {
color: red;
}

article > section > p {
color: blue;
}

article > section > p:last-child {
font-weight: bold;
}